body {
  background-color: #0074d9;
  
}

article {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin-left: 15px;
  gap: 30px;
}

.container {
  flex-wrap: wrap;
  display: flex;
  background-color: #cccbcb;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
}

.container:hover {
  width: 280px;
  height: 330px;
  box-shadow: 0px 2px 60px rgba(0, 0, 0, 0.5);
}

/* Mac-Book Pro */
.mac-pro {
  display: flex;
  align-items: center;
  height: 130px;
  margin-top: 30px;
  transition: 0.5s ease-in-out;
}

.container:hover .mac-pro {
  transform: scale(1.1);
}

/* RTX 5090 */
.rtx-5090 {
  display: flex;
  align-items: center;
  height: 200px;
  margin-top: -10px;
  margin-bottom: -40px;
  transition: 0.5s ease-in-out;
}

.container:hover .rtx-5090 {
  transform: scale(1.1);
}

/* Iphone 16 pro max */
.iphone-16 {
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: 10px;
  margin-bottom: -10px;
  transition: 0.5s ease-in-out;
}

.container:hover .iphone-16 {
  transform: scale(1.1);
}

/* AlienWare Laptop */
.alien-laptop {
  display: flex;
  align-items: center;
  height: 200px;
  margin-top: -10px;
  margin-bottom: -40px;
  transition: 0.5s ease-in-out;
}

.container:hover .alien-laptop {
  transform: scale(1.1);
}

/* camera */
.camera {
  display: flex;
  align-items: center;
  height: 150px;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.container:hover .camera {
  transform: scale(1.1);
}

/* PS5 */
.ps5 {
  display: flex;
  align-items: center;
  height: 200px;
  margin-bottom: -40px;
  transition: 0.5s ease-in-out;
}

.container:hover .ps5 {
  transform: scale(1.1);
}

/* Speakers */
.speaker {
  display: flex;
  align-items: center;
  height: 220px;
  margin-top: -15px;
  margin-bottom: -40px;
  transition: 0.5s ease-in-out;
}

.container:hover .speaker {
  transform: scale(1.1);
}

/* Watch */
.watch {
  display: flex;
  align-items: center;
  height: 170px;
  margin-top: 5px;
  margin-bottom: -10px;
  transition: 0.5s ease-in-out;
}

.container:hover .watch {
  transform: scale(1.1);
}

.info {
  font-family: nunito;
  font-size: 13px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}

.container:hover .info {
  font-size: 15px;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -20px;
  font-size: 22px;
  transition: 0.5s ease-in-out;
}

.container:hover .price {
  margin-bottom: 5px;
}

span {
  font-size: 15px;
}

.buttons {
  margin-bottom: 10px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.container:hover .buttons {
  opacity: 100;
}

.buy {
  width: 80px;
  height: 30px;
  border-radius: 35px;
  background-color: rgb(185, 185, 1);
  transition: 0.1s ease-in-out;
}

.buy:hover {
  background-color: rgb(255, 208, 0);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.buy-link {
  text-decoration: none;
  color: black;
}

.cart {
  width: 100px;
  height: 30px;
  background-color: yellow;
  border-radius: 35px;
  transition: 0.1s ease-in-out;
}

.cart:hover {
  background-color: rgb(185, 185, 0);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1920px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  article {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  article {
    margin-top: 120px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  article {
    margin-left: 15%;
    margin-top: 120px;
    grid-template-columns: 1fr;
  }
}
